<%= form_for doctor do |f| %>
<% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :specialty %>
    <%= f.text_field :specialty %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label "password" %>
    <%= f.password_field :password%>

    <%= f.submit %>
<% end %>